.recipe {
    max-width: 980px;
    margin: auto;
}
section h1 {
    text-align: center;
}
.recipe img {
    display: block;
    max-height: 550px;
    margin: auto;
}
.recipe-img-container {
    background-color: #eee;
}
.edit-recipe {
    float: right;
}
.instructions span {
    font-weight: bold;
}
/* .picture-and-description img {
    display: inline-block;
    width: 50%;
} */
.recipe ul.ingredients {
    padding-left: 15px;
}
.recipe ul.ingredients li {
    list-style-type: disc;
}
/* .description-text {
    display: inline-block;
    vertical-align: top;
    width: 50%;
} */

#delete-recipe .delete p {
    color: red;
}
#delete-recipe button {
    background-color: red;
    color: #fff;
    border: none;
}