.user-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid green;
}
.user-box {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 1023px) {
    .user-box {
        width: 50%;

    }
    
}
@media screen and (max-width: 676px) {
    .user-box {
        width: 100%;
    }
}