* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App h1 {
  font-size: 2rem;
}
button {
  padding: 5px 25px;
  font-size: 1rem;
  font-family: 'Lato';
}
button:hover {
  cursor: pointer;
}
#submit-button, #delete-recipe {
  text-align: right;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.App {
  padding: 15px;
  max-width: 980px;
  margin: auto;
}
.error {
  color: red;
}
.loading {
  text-align: center;
}